html, body			{ margin: 0;
				  height: 100%; }
body				{ font-family: "Alegreya sans", sans-serif; 
				  font-weight: 400;
				  color: #444;
			  	  position: relative; }
code				{ font-size: smaller; }
footer				{ text-align: center; 
				  font-size: smaller;
				  opacity: 0.75;
				  padding: 3rem; }
a				{ text-decoration: none; }
body > header 			{ background-color: #2c363f;
				  padding-top: 6rem;
				  padding-bottom: 1rem;
				  box-shadow: 0px 1px 3px #8f6500;
				  color: #fff; }
body > header > div		{ display: flex; 
				  align-items: flex-end; }
body > header > div > :first-child	
				{ flex: 1; }
h1				{ font-weight: 100;
				  line-height: 50pt;
				  font-size: 375%;
				  margin: 0; }
h2				{ font-weight: 500;
				  text-align: center;
				  margin-top: 4rem;
				  color: #000;
				  font-variant: small-caps; }
h3				{ font-weight: inherit;
				  text-align: center;
				  color: #000;
				  margin: 1.7em 0;
				  font-size: 125%;
				  font-variant: small-caps; }
body > header .title		{ color: #aaa; }
body > header .title a		{ color: #fff; 
				  font-weight: 500; }
body > header nav a		{ color: #ffc530; 
				  display: inline-block;
				  font-weight: 500; }
body > header nav a + a		{ margin-left: 0.5rem; }
body > header nav .hilite	{ border: thin solid rgba(255, 165, 0, 0.5);
				  transition: border 0.2s linear;
				  border-radius: 24pt;
				  padding: 0.1em 0.4em; }
body > header a:hover		{ text-decoration: underline; }
body > header a.hilite:hover	{ text-decoration: none; }
body > header .hilite:hover	{ border: thin solid rgba(255, 165, 0, 1.0); }

.screens div			{ flex: 1.01; }
.screens div:nth-child(2)	{ flex: 2; 
				  margin-left: 1rem; }
.screens div:nth-child(3)	{ flex: 1.42; 
				  margin-left: 1rem; }
.screens img			{ box-shadow: 1px 1px 4px orange; 
				  cursor: pointer;
				  width: 100%; }
.screens			{ display: flex; }
.graphs				{ text-align: center; }
.graphs img			{ width: 100%; }
#index1 img			{ max-width: 450px; }
.tagline			{ margin-top: 4rem; 
				  text-align: center;
				  font-size: 150%;
				  color: #2c363f; }
.version			{ margin-bottom: 4rem; 
			 	  text-align: center;
				  color: #aaa; }
.version span			{ color: #666; }
strong				{ font-weight: 500; 
				  color: #000; }
.nm				{ font-style: italic; }

.popup .pop			{ display: none; }
.popup .pop img			{ border: none; 
				  width: 90%; }
#screen2 img			{ max-width: 1024px; }
#screen3 img,
#screen1 img			{ max-width: 1280px; }
.popup.shown .pop		{ position: fixed;
				  width: 100%;
				  cursor: pointer;
				  z-index: 5;
				  display: flex;
				  align-items: center;
				  justify-content: center;
				  background-color: rgba(255, 255, 255, 0.9);
				  text-align: center;
				  height: 100%; 
				  left: 0;
				  top: 0; }
nav[data-sblg-nav] ul		{ list-style-type: none; 
				  padding: 0; }
nav[data-sblg-nav] header	{ opacity: 0.7;
				  border-bottom: thin solid #aaa; }
nav[data-sblg-nav] p		{ margin: 0.5em 0; }
nav[data-sblg-nav] li		{ opacity: 0.75; }
nav[data-sblg-nav] li:first-child
				{ opacity: 1; 
				  margin-bottom: 1em; }

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .tagline			{ font-size: inherit; }
  body > header > div		{ display: block; }
  article > ul 			{ padding: 0; }
  body > header 		{ padding-top: 2rem; 
	  			  padding-bottom: 0.5rem; }
  body > header nav		{ padding-top: 1rem; }
